/******************/
/* Footer Section */
/******************/

footer {
  /* color: EEEEEE; */
  background: linear-gradient(180deg,#d3ced1, #f8f8ff);
  /* background-color: #dad8d8; */
  
  /* animation: BackgroundGradient 30s ease infinite; */
  margin: 0;
  padding-top: 1.5em;
}

.layout p,
.layout h4 {
  text-align: center;
  margin: 0;
}

.font-small {
  font-size: 0.8em;
}

.title-small{
  font-size: 0.9em;
  padding-top: 1em;
}

.font-copyright {
  font-size: 0.7em;
  color: grey;
  padding: 1em;
}

/* Following is for "sticky" footer */
.wrapper {
  /* Flex is used to push the footer to the bottom of the page.*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Required for flex box to push footer to page bottom */
  min-height: 100vh;
}

.hero {
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

