/******************/
/* Footer Section */
/******************/

footer {
  /* color: EEEEEE; */
  background: linear-gradient(180deg,#d3ced1, #f8f8ff);
  /* background-color: #dad8d8; */
  
  /* animation: BackgroundGradient 30s ease infinite; */

  /* background-size: cover;
  background-position: center; */
  margin: 0;
}

.layout {
  text-align: center;
  margin: 0;
}

/* Following is for "sticky" footer */
.wrapper {
  /* Flex is used to push the footer to the bottom of the page.*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Required for flex box to push footer to page bottom */
  min-height: 100vh;
}

.hero {
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

