/******************/
/* Header */
/******************/

/* header mainly contains logo and navbar */
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
    
  background-color: rgb(255, 255, 255);
}

/********/
/* Logo */
/********/

.logo {
  width: 100px;
  /* padding: 0.5em 0.5em; */
}

/**********/
/* Navbar */
/**********/

/* Hamburger menu */
/* .btn-menu {
  /* padding: 0.5rem 15rem; */
  
  /* border-width: 0;
  background-color: transparent;
  margin-bottom: 5px; */
/* }  */

.btn-menu{
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 30px;
  right: 50px;
  width: 30px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* show the menu image */
  background-image: url("../images/menu.svg");
  background-size: 100%;
}

/* svg img */
.img-menu {
  height: 20px;
}

/* Navbar links */

/* Screen is in 'portrait' orientation (mobile view), hide Navbar (Trips, Contact, Login, Register) */
/* (desktop view is handled in the media query below) */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav p {
  margin: 0;
}

nav div ul {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
}

nav a{
  color: rgb(63, 70, 99);
  padding: 0.5em 1em;
}


nav ul li {
  font-weight: 700;
}

/* hover, active, and current page effects */
nav a:hover {
  color: blue;
}
    
nav a:active {
  text-shadow: 2px 2px 8px cadetblue;
}
  
/* .current-page {
  background-image: linear-gradient(cornflowerblue, cadetblue);
} */

/* welcome message */
.welcome {
  color:#cd853f;
}

/* Screen is in 'landscape' orientation (desktop view) */
@media (orientation: landscape) {
  
  nav {
    display: flex;
    flex-direction: row;
  }
  
  nav div ul {
    display: flex;
  }
  
  /* Don't show hamburger menu on desktop view */
   nav .btn-menu {
    display: none;
  }
  
}





